# Credenciales para el envio de correos
smtp.user=correo@ejemplo.com
smtp.pass=contrasena_de_aplicacion

# Credenciales de Base de Datos Oracle
db.user=USUARIO_ORACLE
db.pass=CONTRASENA_ORACLE
db.name=NOMBRE_SERVICIO_TNS
